body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #31c5ac;
    color: #fff;
    padding-top: 0%;
    min-height: 60px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    text-align: left;
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;

}

header h1 img {
    padding-top: 0px;
    width: 80px;
    height: auto;
    margin-right: 175px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #555;
}

.navbar a {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

.navbar a:hover {
    background-color: #bb0606;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(247, 243, 243);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #bb0606;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #333;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: red;
}

.active {
    background-color: #31c5ac;
}

main {
    padding: 20px;
    background: #fff;
}

main section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}